

    html > /**/ body .productbox {
        position: relative;
        border: 1px solid #ddd;
        -ms-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

.caption {
	padding:10px;
	background-color:rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 40%;
    overflow: hidden;
  	font-size: 11px;
  color: #FFF;

}
.finalprice {
  font-size:15px;
    color: #AAFCAE;
}
h5 {
  margin-top: 0px;
  color: white;
  max-height: 30px;
  overflow: hidden;
}
.img-responsive img{
	width: 100%;    
}

.cards {
  padding: 5px;
}
.btn-block {
margin-top: 5px;
}
.saleoffrate{
position: absolute;
    top:10px;
    left: 10px;
padding-top: 13px;
text-align:center;
background-color: rgba(76, 174, 76,0.8);
color: #FFFFFF;
border-radius: 50%;
height: 50px;
width: 50px;
line-height: 13px;
}

