
@{
    ViewBag.Title = "PrescribtionList";
    Layout = "~/Views/Shared/_doctorDashboard.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Prescription List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Prescription Id</th>
                            <th>Patent's Name</th>
                            <th>Patent's Email</th>
                            <th>Patient's Location</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>002251</td>
                            <td>
                                abc
                            </td>
                            <td>aa@gmail.com</td>
                            <td> Dhaka</td>
                            <td>
                                <a href="@Url.Action("PrescribtionDetails")"> details</a>
                            </td>
                        </tr>
                        <tr>
                            <td>002252</td>
                            <td>
                                abc
                            </td>
                            <td>aa@gmail.com</td>
                            <td> Dhaka</td>
                            <td>
                                <a href="@Url.Action("PrescribtionDetails")"> details</a>
                            </td>
                        </tr>
                        <tr>
                            <td>0022515</td>
                            <td>
                                abc
                            </td>
                            <td>aa@gmail.com</td>
                            <td> Dhaka</td>
                            <td>
                                <a href="@Url.Action("PrescribtionDetails")"> details</a>
                            </td>
                        </tr>
                        <tr>
                            <td>0022515</td>
                            <td>
                                abc
                            </td>
                            <td>aa@gmail.com</td>
                            <td> Dhaka</td>
                            <td>
                                <a href="@Url.Action("PrescribtionDetails")"> details</a>
                            </td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <!-- /.col -->
</div>
