@model DoctorConsult.Core.ViewModel.ForgetPasswordViewModel

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Find your account </h2>



<div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    
                    @using (Html.BeginForm(FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "somebody@example.com" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Reset Password">
                    }
          
                    @Html.ActionLink("Create an account?", "Registration", "Home", new { @class = "forget" })
                    <hr />
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div>
</div>