@model IEnumerable<DoctorConsult.Core.Entity.Model.PatientsConsultModel>
@{
    ViewBag.Title = "ConsultList";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@*<h2>Consult List</h2>*@

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Consult List</h3>
                <div class="form-group">
                    <br />
                    @Html.DropDownList("SortedBy", new List<SelectListItem>
                        {
                            new SelectListItem() {Text = "Date (Ascending order)", Value="date"},
                            new SelectListItem() {Text = "Date (Descending order)", Value="painSpecaility"},
                            new SelectListItem() {Text = "Accepted", Value="accepted"},
                            new SelectListItem() {Text = "Rejected", Value="rejected"},
                            new SelectListItem() {Text = "Pending", Value="pending"},
                        }, "Sort by", new { @class = "form-control" })

                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Doctor's Name</th>
                            <th>Doctors's Speciality</th>
                            <th>Date of Submission</th>
                            <th>Doctor's Location</th>
                            <th>Problem Summary</th>
                            <th>Status</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>
                                abc
                            </td>
                            <td>internal medicine</td>
                            <td> 1/1/2002</td>
                            <td>dubai</td>
                            <td>Black Fever</td>
                            <td> <p class="label label-warning">pending</p></td>
                            <td>
                                <a href="@Url.Action("Invoice", "Patient")"> details</a>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                abcxxx
                            </td>
                            <td>Cardiologist</td>
                            <td> 1/1/2003</td>
                            <td>dubai</td>
                            <td>Leg broken</td>
                            <td> <p class="label label-warning">pending</p></td>
                            <td>
                                <a href="@Url.Action("Invoice", "Patient")"> details</a>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                abcaaass
                            </td>
                            <td>ENT</td>
                            <td> 1/1/2002</td>
                            <td>Sydney</td>
                            <td>sinusitis</td>
                            <td> <p class="label label-success">Accepted</p></td>
                            <td>
                                <a href=""> details</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                abc
                            </td>
                            <td>Allergist (immunologist)</td>
                            <td> 1/1/2002</td>
                            <td>dubai</td>
                            <td>Sickness</td>
                            <td> <p class="label label-danger">Rejected</p></td>
                            <td>
                                <a href="@Url.Action("Invoice", "Patient")"> details</a>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <!-- /.col -->
</div>






